:root{
    --orange: #ffa500;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background-color: var(--orange);
    color: white;
}

html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, 0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
}

.heading span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
  }

.btn:hover{
    background: rgba(255, 165, 0, 0.2);
    color: var(--orange);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

header .logo span{
    color: var(--orange);
}

header .navbar a{
    color: white;
    font-size: 2rem;
    margin: 0.8rem;
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons i{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var(--orange);
}

header form{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: 1rem solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0. 0 0);
}

header .form{
    position: relative;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: 1rem solid rgba(255, 255, 255, 0.2);
    display: none;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0. 0 0);
}

header .form .active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}  

header .form #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: 0.5rem;
}

header .form label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .form label:hovr{
    color: var(--orange);
}

.login-form{
    position: fixed;
    top: -120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .active{
    top: 0;
}

.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: white;
    width: 50rem;
}

.login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form form h3{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 6rem 0;
    border: 1rem solid rgba(0,0,0,0.3);
    text-transform: none;
}

.login-form form .box:focus{
    border-color: var(--orange);
}

.login-form form #remember{
    margin: 2rem 0;
}

.login-form form label{
    font-size: 1.5rem;
}

.login-form form .btn{
    display: block;
    width: 100%;
}

.login-form form p{
    padding: 5rem 0rem;
    font-size: 1.5rem;
    color: #666;
}

.login-form form p a{
    color: var(--orange);
}

.login-form form p:hover{
    color: #333;
    text-decoration: underline;
}

.login-form #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}

#menu{
    color: white;
    border: 1remsolid white;
    border-radius: 0.5rem;
    padding: 5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0.3rem 0.5rem rgba(0,0,0,0.1);
}

.home .content p{
    font-size: 2.5rem;
    color: white;
    padding: 5rem 0;
}

.home .video video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0,0,0,0.7);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin: 0.5rem;
}

.home .controls .vid-btn.active{
    background: var(--orange);
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row image{
    flex: 1 1 40rem;
}

.book .row image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.1);
    border-radius: 00.5rem;
}

.book .row form .input{
    padding: 0.5rem  0;
}

.book .row form .input input{
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0,0,0, 0.1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.book .row form .input h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.pack .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.pack .container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem rgba(0,0,0,0.1);
}

.pack .container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.pack .container .box .content{
    padding: 2rem;
}

.pack .container .box .content h3{
    font-size: 2rem;
    color: #333;
}

.pack .container .box .content h3 i{
    color: var(--orange);
}

.pack .container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.pack .container .box .content .star i{
    font-size: 1.7rem;
    color: var(--orange);
}

.pack .container .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.pack .container .box .content .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.ser .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.ser .container .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.ser .container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: var(--orange);
}

.ser .container .box h3{
    font-size: 2.5rem;
    color: #333;
}

.ser .container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.ser .container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.gall .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gall .container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: 1rem solid white;
    border-radius: 0.5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gall .container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gall .container .box .content{
    position: absolute;
    top: -100%; left: 0;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 2rem;
    padding-top: 5rem;
}

.gall .container .box:hover .content{
    top: 0;
}

.gall .container .box .content h3{
    font-size: 2.5rem;
    color: var(--orange);
}

.gall .container .box .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: 0.5rem 0;
}

.review .review-slider{
    padding-bottom: 2rem;
}

.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.1);
    border-radius: 0.5rem;
}

.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3{
    color: #333;
    font-size: 2.5rem;
}

.review .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1em 0;
}

.review .box .star i{
    color:var(--orange);
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row .ima{
    flex: 1 1 35rem;
}

.contact .row .ima img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 35rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.contact .row form .input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .input,
.contact .row form textarea{
    width: 50%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}

.brand-container{
    text-align: center;
}

.footer{
    background: #333;
}

.footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer{
    background:#333;
}
  
  .footer .container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
  .footer .container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
  .footer .container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  
  .footer .creater{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }

  .footer .creater .fas{
    font-size: 18px;
    color: var(--orange);
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
    transition: 0.5s;
}

.footer .creater .fas:hover{
    transform: scale(1.5);    
}

.footer .creater .fas{
    color: var(--orange);
}

.footer .creater .fas:hover{
    animation: beat .25s infinite alternate;
}

@keyframes beat{
    to { transform: scale(1.4); }
}

  .footer .creater span{
    color:var(--orange);
  }

@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }
  
  @media (max-width:991px){
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
  
  }

@media (max-width:768px){

    #menu{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; right:0; left: 0;
      background: #333;
      border-top: .1rem solid rgba(255,255,255,.2);
      padding:1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding:1.5rem;
      margin:1.5rem 0;    
      background:#222;
    }
  
  }

@media (max-width:450px){

    html{
      font-size: 50%;
    }
  
    .heading span{
      font-size: 2.5rem;
    }
  
    .contact .row form .input input{
      width:100%;
    }
  
  }